
body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #d5cedb; 
    color: #333;
}


.navbar {
    display: flex; /* Bach dak contenu lighykun fnav bar ykuno des elelments successif whd hda lakhor , maykunch dakxi mkharba9*/
    justify-content: space-between;   /*Bach ykuno f janb l yemin w janb l yassar*/
    align-items: center;
    padding: 20px 80px; 
    background-color: rgb(236, 231, 231);
}
.navlinks a:hover {
    color: #495358; 
}

.logo {
    font-size: 24px;
    font-weight: normal; 
    color: #372f3d;
    
    font-family: 'Pacifico', cursive; 
}

.navlinks a {
    text-decoration: none; 
    color: #333;
    margin-left: 25px;
    font-weight: 500;
}





.hero-section {
    display: flex;
    justify-content: space-between;
     align-items: center;
    padding: 80px 80px;
    max-width: 1200px;
    margin: 0 auto; 
}

.hero-content {
    flex: 1; 
    max-width: 50%; 
}

.greeting {
    color: #0a0a0a;
    font-weight: bold;
     margin-bottom: 5px;
}

 h1 {
    font-size: 48px;
    margin: 10px 0 20px 0;
    line-height: 1.2;
}

h1 strong {
    color: #0a0a0a; 
}

.intro-text {
    line-height: 1.6;
    margin-bottom: 30px;
}



.image {
    padding: 20px;
    text-align: center;
}

.hero-image {
    width: 350px;
    height: 380px;
    border-radius: 24.5%; 
    object-fit: cover; 
    box-shadow: 0 0 0 2px #0a0a0a;
    transition: transform 0.4s ease, box-shadow 0.4s ease; 
}

.hero-image:hover {
   
    transform: scale(1.03); 
   
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); 
}



.buttons a {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.4s;
    margin-right: 15px;
}

.btn-primary {
    background-color:#0a0a0a; 
    color: white;
    border: none;
}

.btn-secondary {
    background-color: transparent;
    color: #0a0a0a;
    border: 2px solid #7b7474; 
}
.btn-primary:hover {
    background-color:#7b7474; 
    color: #0a0a0a;
}

.btn-secondary:hover {
    background-color: #0a0a0a;
    color: white;
}



/* ______________________________*/


.ligne-separatrice {

    border: none;
    border-bottom: 1px solid #464343; 
    width: 100%;
    margin: 40px 0; 
    padding: 0;
}


.second-section {
 padding: 60px 0;
  background-color: #d5cedb;  
  
}


.container {
 max-width: 1200px; 
 margin: 0 auto; 
 padding: 0 15px;

 
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    font-size: 2em;
    color: #333;
}


.cards-grid {
    display: grid;
   
    grid-template-columns: repeat(3, 1fr); 
    
    gap: 2.5%; 
}


.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-image {
    width: 150px; /* Ancien: 80px */
    height: 150px; /* Ancien: 80px */
    object-fit: contain; 
    margin-bottom: 15px; 
    border-radius: 100px;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #007bff; 
}

.card p {
    color: #666;
    font-size: 0.95em;
}


.card .icon {
    font-size: 2.5em;
    color: #007bff;
}
@media (max-width: 768px) {
    .cards-grid {
        grid-template-columns: 1fr; 
    }
}


/* THIRD*/



.contact-section {
    background-color:#c9bbd1; 
    padding: 80px 0;
    color: #fff; 
}


.contact-title {
    text-align: left; 
    margin-bottom: 5px;
    font-size: 2.5em;
    color: #fff;
}
.contact-title i {
    margin-right: 10px;
    color: #007bff; 
}

.contact-intro {
    font-size: 1.1em;
    color: #383737; 
    margin-bottom: 40px;
}


.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.contact-form-wrapper {
    flex: 1; 
    max-width: 600px; 
}


.contact-form label {
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #383737;
}

.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #151515;
    background-color: #f8f3f3; 
    color: #fff;
    border-radius: 6px;
    font-size: 1em;
    resize: vertical; 
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #777;
}


.btn-submit {
    background-color: #363636; 
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #007bff; 
}




@media (max-width: 900px) {
    .contact-content {
        flex-direction: column;
    }
    .contact-form-wrapper {
        max-width: 100%; 
        flex: auto;
    }
    .contact-title {
        text-align: center;
    }
}